<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>{{descricaoLogin()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (this.token) {
        <form [formGroup]="usuarioForm" #tableForm="ngForm" class="login-form">
          <mat-form-field appearance="outline">
            <mat-label>Login</mat-label>
            <input matInput formControlName="usuario" placeholder="login" id="login" name="login">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput [type]="showPassword ? 'text' : 'password'"
                   formControlName="senha" placeholder="Digite sua senha" id="senha" name="senha">
            <button mat-icon-button matSuffix (click)="AlternarVisibilidade()" type="button">
              <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </mat-form-field>
        </form>
      }
    </mat-card-content>
    <mat-card-actions align="end">
      @if (!autorizacaoService.statusLogin()) {
        <button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar</button>
      }
      <button mat-raised-button color="primary" (click)="this.autorizacaoService.statusLogin() ? logout() : clickLogin()">
        {{botaoLogin()}}
      </button>
    </mat-card-actions>
  </mat-card>
</div>