<div>
  @if (alert && alertType=='success') {
    <div id="myAlert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{alertText}}</strong>
    </div>
  }
  @if (alert && alertType=='danger') {
    <div id="myAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{alertText}}</strong>
    </div>
  }

</div>

<div class="content-wrapper-card">
<mat-card-content>
  <div class="col-md-2">
    <label for="" class="d-flex justify-content-center">Usuário</label>
    <input type="text" class="form-control" [value]="infoUsuario.usuario" disabled>
  </div>
  @if (showResetPassword){

    <h3 class="redefinir">Redefinir Senha</h3>
    <div class="password-container col-md-2">
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Digite sua senha"
        class="form-control"
        [(ngModel)]="password" />
      <i
        class="toggle-icon"
        (click)="AlternarVisibilidade()"
        >
        <mat-icon>
          {{ showPassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </i>
    </div>
    <div class="password-container col-md-2">
      <input
        [type]="showPasswordConfirmar ? 'text' : 'password'"
        placeholder="Digite sua senha"
        class="form-control"
        [(ngModel)]="confirmPassword" />
      <i
        class="toggle-icon"
        (click)="AlternarVisibilidadeConfirmar()">
        <mat-icon>
          {{ showPasswordConfirmar ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </i>
    </div>

    <p [ngStyle]="{ color: passwordLength() ? 'green' : 'red' }">
      {{ '* A senha dete ter no mínimo 5 caracters' }}
    </p>
    <p [ngStyle]="{ color: passwordsMatch() ? 'green' : 'red' }">
      {{ passwordsMatch() ? '* As senhas coincidem' : '* As senhas não coincidem' }}
    </p>
  }
  </mat-card-content>



  <mat-card-actions class="d-flex justify-content-evenly align-items-center">
    @if (!showResetPassword){
      <button mat-raised-button color="warn" (click)="deletar()">Deletar</button>
      <button mat-raised-button color="primary" (click)="showRedefinir()" >Redefinir Senha</button>
      <button mat-raised-button color="primary" (click)="logout()">Sair</button>
    } @else {
      <button mat-raised-button color="warn" (click)="showRedefinir()" >Cancelar</button>
      <button mat-raised-button color="primary" (click)="alterarSenha()" >Alterar</button>
    }
  </mat-card-actions>
</div>
