.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.input-group-text {
  cursor: pointer;
}

.form-control:disabled {
  background-color: #e9ecef;
}

.vh{
  height: 70vh;
  width: 200vh;
}

.profile-card{
  border: solid 1px;
  box-shadow: 10px 5px 5px rgb(73, 73, 73);
}