<div class="container d-flex justify-content-center align-items-center min-vh-70">
  <div class="card col-md-8">
    <div class="card-body">
      <h1 class="text-center mb-4">Questionário</h1>
      <form [formGroup]="questionarioForm" #tableForm="ngForm">
        <div class="mb-3">
          <label class="form-label">Tipo Empresa</label>
          <select class="form-select select2" formControlName="tipo" (change)="popularRamoEmpresa($event)">
            <option value="">Selecione o tipo de empresa</option>
            @for (tipo of tipoEmpresaFiltrado; track $index) {
              <option [value]="tipo.id">{{tipo.nome}}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Ramo Empresa</label>
          <select class="form-select select2" formControlName="ramo" (change)="popularCnae($event)">
            <option value="">Selecione o ramo da empresa</option>
            @for (ramo of ramoEmpresaFiltrado; track $index) {
              <option [value]="ramo.id">{{ramo.nome}}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">CNAE</label>
          <select class="form-select select2" formControlName="cnae">
            <option value="">Selecione o CNAE</option>
            @for (c of cnaeFiltrado; track $index) {
              <option [value]="c.id">{{c.nome}}</option>
            }
          </select>
        </div>
      </form>

      <div class="d-flex justify-content-evenly mt-4">
        @if(toggleEdit){
          <button class="btn btn-danger" (click)="deletar()">Deletar</button>
          <button class="btn btn-primary" (click)="editar()" [disabled]="!edit">Editar</button>
        } @else {
          <button class="btn btn-secondary" (click)="getQuestionario()">Cancelar</button>
        }
        <button class="btn btn-success" (click)="cadastrar()" [disabled]="edit">Cadastrar Resposta</button>
      </div>
    </div>
  </div>
</div>

