<main class="financeiro">
  <div class="content-wrapper-card">
    <div class="texto">
      <h2>Contabilidade Financeira: A Base para o Sucesso Empresarial</h2>
      <p>
        A contabilidade financeira é um pilar essencial na gestão de qualquer empresa, sendo responsável por registrar, organizar e interpretar as transações financeiras. Abaixo, você encontrará os principais aspectos que envolvem o processo contábil financeiro:
      </p>

      <section>
        <h3>Registro de Transações</h3>
        <p>
          O primeiro passo na contabilidade é registrar detalhadamente todas as transações financeiras, como receitas, despesas, compras, vendas e pagamentos. Isso garante que todas as operações sejam documentadas de forma precisa.
        </p>
      </section>

      <section>
        <h3>Plano de Contas</h3>
        <p>
          As transações são organizadas em contas específicas, de acordo com um plano de contas predefinido. Este plano facilita a análise e o reporte das finanças da empresa, oferecendo clareza nas classificações contábeis.
        </p>
      </section>

      <section>
        <h3>Demonstrações Financeiras</h3>
        <p>
          Com base nos registros contábeis, são preparadas as demonstrações financeiras, como o Balanço Patrimonial, a Demonstração de Resultados do Exercício (DRE) e o Demonstrativo de Fluxo de Caixa. Esses relatórios oferecem uma visão clara da saúde financeira da empresa.
        </p>
      </section>

      <section>
        <h3>Escrituração Contábil</h3>
        <p>
          A escrituração contábil envolve o registro das transações nos livros contábeis, que podem ser físicos ou digitais. Os principais livros são o diário (onde as transações são registradas cronologicamente) e o razão (onde as transações são agrupadas por conta).
        </p>
      </section>

      <section>
        <h3>Contabilidade de Custos</h3>
        <p>
          Para empresas que produzem bens ou serviços, a contabilidade de custos é vital. Ela analisa e atribui custos diretamente aos produtos ou serviços, ajudando na precificação e no gerenciamento eficiente de recursos.
        </p>
      </section>

      <section>
        <h3>Auditoria Contábil</h3>
        <p>
          A auditoria contábil, realizada periodicamente, verifica a precisão e a conformidade dos registros financeiros, ajudando a identificar erros ou fraudes e garantindo a integridade dos dados.
        </p>
      </section>

      <section>
        <h3>Impostos</h3>
        <p>
          A contabilidade desempenha um papel fundamental no cálculo e pagamento de impostos, assegurando que a empresa esteja em conformidade com as obrigações fiscais e evitando multas ou penalidades.
        </p>
      </section>

      <section>
        <h3>Tomada de Decisões</h3>
        <p>
          As informações contábeis são essenciais para a tomada de decisões estratégicas. Elas oferecem uma visão clara da rentabilidade da empresa, possibilitando identificar áreas para melhorias e otimizar a alocação de recursos.
        </p>
      </section>

      <section>
        <h3>Contabilidade Gerencial</h3>
        <p>
          Além das exigências legais, muitas empresas utilizam a contabilidade gerencial para análises mais profundas, como acompanhamento de indicadores de desempenho e projeções financeiras, auxiliando no planejamento estratégico.
        </p>
      </section>

      <section>
        <h3>Adoção de Tecnologia</h3>
        <p>
          A tecnologia tem transformado a contabilidade. Softwares especializados automatizam processos rotineiros, melhorando a eficiência e minimizando erros humanos.
        </p>
      </section>

      <p>
        A contabilidade financeira é um instrumento essencial para a sustentabilidade de qualquer negócio. Manter registros precisos e compreender as informações financeiras permite uma gestão eficaz e garante o crescimento contínuo da empresa.
      </p>
    </div>
    <div class="col-4"></div>
  </div>
</main>